<!DOCTYPE html>

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="description" content="Free web tutorials">
   <meta name="author" content="Nihar">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> Adhar Card Text Detection </title>
  </head>
  <body>
  <div class="content">

          <h1 style="text-align: center">Text Detector</h1>
          <form action="/OCR-TEXT" method="POST" enctype="multipart/form-data">

          <label>Drop Front Page</label>
              <input type="file" id="img" name="front" class="content" accept="image/*"><br>
          <label>Drop Back Page</label>
              <input type="file" id="img2" name="back" class="content" accept="image/*"><br>

          <input type="submit" name="" value="submit">

          </form>

  </div>
  </body>
  </html>